* {
  margin: 0;
}

body {
  background: linear-gradient(90deg,  #1B1B1B, #E63946, #3A9D23, #0078BF, #EDE6DB);
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 40px;
}

@font-face {
  font-family: MyFont;
  src: url(Fino.ttf);
}

h1 {
  font-family: MyFont, serif;
  color: #EDE6DB;
  text-align: center;
  font-size: 3em;

}

p {
  color: #EDE6DB;
  font-weight: 500;
  font-size: 1.1em;
  text-align: center;
  margin-top: 4px;
}

/*=== HEADER ===*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #1B1B1B;

    a {
      text-decoration: none;
      color: #EDE6DB;
      font-size: 2em;
      font-family: MyFont, serif;
      padding: 0 20px;
    }
}

.logo_nav {
  height: 80px;
}

/*=== HOMEPAGE ===*/

#magic_colors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }

.color_symbols {
  width: 50px;
}

#magic_card_types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

button {
  text-decoration: none;
  font-style: oblique;
  font-weight: 600;
  background-color: #1B1B1B;
  color: #EDE6DB;
  padding: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px 10px;
}

#black_color {
  background-color: #1B1B1B;
}

#red_color {
  background-color: #E63946;
}

#green_color {
  background-color: #3A9D23;
}

#blue_color {
  background-color: #0078BF;
}

#white_color {
  background-color: #EDE6DB;
  color: #1B1B1B;
}

/*=== CARD PAGE ===*/

.filter_bar {
  text-align: center;
  margin-top: 30px;
}

#card_colors_filter {
  margin-bottom: 10px;
}

#black, #red, #green, #blue, #white {
  margin-left: 8px;
}

#search_product {
  text-align: left;
}

#card_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

.card_image {
  border-radius: 10px;
  width: 200px;
  height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
